#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro h2 {
  font-size: 4rem;
}

#span {
  font-size: 4rem; 
  color: var(--red);
  display: block;
}

#projects {
  padding: 4rem 1rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--cyan);
}
#projects h4 {
  font-size: 1rem;
  margin: 0;
}
#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--dblue);
  border-top: 1px solid var(--dblue);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 550px) {
  #projects article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  #projects {
    max-width: 1400px;
    margin: 0 auto;
  }
  #projects img {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .text {
    order: 2;
    grid-column: 3/11;
    grid-row: 1/2;
    text-align: right;
  }
}

#sectionlblue {
  background-color: var(--lblue);
}

#sectionRed {
  background-color: var(--red);
}
.gradient {
  background: linear-gradient(90deg, rgba(230,57,70,1) 0%, rgba(168,218,220,1) 100%);
  height: 2px;
}

#contact {
  width: 420px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

.button {
  color: var(--white);
  background-color: var(--cyan);
  padding: 0.3rem;
  border-radius: 5px;
  text-decoration: none;
}
.button:hover {
  color: var(--white);
  background-color: var(--dblue);
}
